__pycache__/
*.pyc
.venv/
.env
.DS_Store
.pdf
# Chroma database
chroma/
chroma_db/
chroma_index/
db
debug_vectorstore.py
test.py
test_qdrant_api.py
main.py
pdf
.python-version
bm25_cache.pkl
docs_cache.pkl
pdf
mlruns
models
llama_cpp_python_linux_whl


# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Ansible
*.retry

# SSH Keys
*.pem